<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-content">
                <label>Search: <input id="search" type="text" name="search"></label>
                <label>
                    <input id="name" name="search-by" value="name" type="radio" checked />
                    <span>Name</span>
                </label>
                <label>
                    <input id="phone" name="search-by" value="phone" type="radio" />
                    <span>Phone</span>
                </label>
                <a class="waves-effect waves-light btn" onclick="getContacts()"><i class="material-icons left">search</i>Search</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Phone</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody id="contacts-list"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="add-contact-modal" class="modal">
        <div class="modal-content">
            <form action="">
                <label>Name: <input type="text" id="txtAddName"></label>
                <label>Phone: <input type="tel" id="txtAddPhone"></label>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat red" onclick="addCancel()">Cancel</a>
            <a href="#" class="waves-effect waves-green btn-flat green" onclick="addConfirm()">Add</a>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light modal-trigger blue" href="#add-contact-modal">
            <i class="large material-icons">add</i>
        </a>
    </div>


    <script>
        function button(handler, text, icon, color) {
            const btn = document.createElement('a')
            btn.className = 'waves-effect waves-light btn ' + color
            btn.innerText = text
            const btnIcon = document.createElement('i')
            btnIcon.className = 'material-icons left'
            btnIcon.innerText = icon
            btn.appendChild(btnIcon)
            btn.addEventListener('click', handler)
            return btn;
        }
    </script>

    <script>
        const contactsTable = document.getElementById('contacts-list')
        var contacts;

        function getContacts() {
            const searchByPhone = document.getElementById('phone')
            const searchByName = document.getElementById('name')
            const searchBox = document.getElementById('search')
            if (searchByPhone.checked){
                fetch(`/contacts?phone=${encodeURIComponent(searchBox.value)}`)
                .then(async (response) => {
                    const data = await response.json()
                    contacts = data['contacts']
                    contactsTable.innerHTML = ''

                    if (contacts.length == 0){
                        row = document.createElement('tr')
                        col = row.insertCell(0)
                        col.colSpan = 3
                        col.innerText = 'No contacts'

                        contactsTable.appendChild(row)
                    }else{
                        contacts.forEach((contact, index) => {
                            row = document.createElement('tr')
                            name_ = row.insertCell(0)
                            phone = row.insertCell(1)
                            actions = row.insertCell(2)
                            
                            name_.innerText = contact.name
                            phone.innerText = contact.phone

                            const deleteBtn = button(deleteContact, 'Delete', 'delete', 'red')
                            actions.appendChild(deleteBtn);

                            row.id = index;

                            contactsTable.appendChild(row)
                        });
                    }
                })
                .catch((e) => {
                    contactsTable.innerHTML = ''
                    row = document.createElement('tr')
                    col = row.insertCell(0)
                    col.colSpan = 3
                    col.innerText = 'No contacts'

                    console.log(e);

                    contactsTable.appendChild(row)
                })
            }else if (searchByName){
                fetch(`/contacts?name=${searchBox.value}`)
                .then(async (response) => {
                    const data = await response.json()
                    contacts = data['contacts']
                    contactsTable.innerHTML = ''

                    if (contacts.length == 0){
                        row = document.createElement('tr')
                        col = row.insertCell(0)
                        col.colSpan = 3
                        col.innerText = 'No contacts'

                        contactsTable.appendChild(row)
                    }else{
                        contacts.forEach((contact, index) => {
                            row = document.createElement('tr')
                            name_ = row.insertCell(0)
                            phone = row.insertCell(1)
                            actions = row.insertCell(2)
                            
                            name_.innerText = contact.name
                            phone.innerText = contact.phone

                            const deleteBtn = button(deleteContact, 'Delete', 'delete', 'red')
                            actions.appendChild(deleteBtn);

                            row.id = index;

                            contactsTable.appendChild(row)
                        });
                    }
                })
                .catch((e) => {
                    contactsTable.innerHTML = ''
                    row = document.createElement('tr')
                    col = row.insertCell(0)
                    col.colSpan = 3
                    col.innerText = 'No contacts'

                    console.log(e);

                    contactsTable.appendChild(row)
                })
            }else {
                fetch('/contacts')
                .then(async (response) => {
                    const data = await response.json()
                    contacts = data['contacts']
                    contactsTable.innerHTML = ''
    
                    if (contacts.length == 0){
                        row = document.createElement('tr')
                        col = row.insertCell(0)
                        col.colSpan = 3
                        col.innerText = 'No contacts'
    
                        contactsTable.appendChild(row)
                    }else{
                        contacts.forEach((contact, index) => {
                            row = document.createElement('tr')
                            name_ = row.insertCell(0)
                            phone = row.insertCell(1)
                            actions = row.insertCell(2)
                            
                            name_.innerText = contact.name
                            phone.innerText = contact.phone
    
                            const deleteBtn = button(deleteContact, 'Delete', 'delete', 'red')
                            actions.appendChild(deleteBtn);
    
                            row.id = index;
    
                            contactsTable.appendChild(row)
                        });
                    }
                })
                .catch((e) => {
                    contactsTable.innerHTML = ''
                    row = document.createElement('tr')
                    col = row.insertCell(0)
                    col.colSpan = 3
                    col.innerText = 'Error fetching contacts'
    
                    console.log(e);
    
                    contactsTable.appendChild(row)
                })
            }
        }

        function deleteContact(event) {
            const id = event.target.parentElement.parentElement.id;
    
            if(confirm(`You sure you want to delete ${contacts[id].name}?`)){
                fetch(`/contacts/${contacts[id].id}`, {
                    method: 'DELETE'
                }).then(() => {
                    getContacts()
                })

            }
        }

        function addCancel() {
            const txtName = document.getElementById('txtAddName');
            const txtPhone = document.getElementById('txtAddPhone');

            txtPhone.value = '';
            txtName.value = '';
        }

        function addConfirm() {
            const txtName = document.getElementById('txtAddName');
            const txtPhone = document.getElementById('txtAddPhone');

            fetch('/contacts', {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify({
                    name: txtName.value,
                    phone: txtPhone.value
                })
            }).then(() => {
                getContacts()
                txtPhone.value = '';
                txtName.value = '';
                var modal = M.Modal.getInstance(document.getElementById('add-contact-modal'));
                modal.close()
            }).catch(() => {
                alert('Error adding contact')
            })
        }

        getContacts()
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {});
        });
        
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        });
    </script>
</body>
</html>
